$ git status
    [...]
    # Untracked files:
    [...]
    #       Documentation/src.html
    #       Documentation/gitignore.html
    #       file.o
    #       lib.a
    #       src/internal.o
    [...]
    $ cat .git/info/exclude
    # ignore objects and archives, anywhere in the tree.
    *.[oa]
    $ cat Documentation/.gitignore
    # ignore generated html files,
    *.html
    # except src.html which is maintained by hand
    !src.html
    $ git status
    [...]
    # Untracked files:
    [...]
    #       Documentation/src.html
    [...]
