<launch>
	<group>
		<!--> we are going to launch node within the package iq_gnc with the executable called square (from CMakeLists) 
		and the node's name is square1 and we are going to pass it the parameter name space drone1 <-->
		<node pkg="iq_gnc" type="square" name="square1" output="screen" ns="/drone1"> 
			<param name="namespace" value="/drone1"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>

	<group>
		
		<node pkg="iq_gnc" type="square" name="square2" output="screen" ns="/drone2">
			<param name="namespace" value="/drone2"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
	<group>	
		<node pkg="iq_gnc" type="square" name="square3" output="screen" ns="/drone3">
			<param name="namespace" value="/drone3"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
	<group>	
		<node pkg="iq_gnc" type="square" name="square4" output="screen" ns="/drone4">
			<param name="namespace" value="/drone4"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
</launch>
